@model List<DataAccessLayer.Models.Car>
@using System.Globalization;

<div id="favorites" class="section section-md best novi-background bg-cover">
    <div class="container">
        <div class="section-title-md">
            Latest vehicles on sale
        </div>
        <div class="tabs-custom tabs-horizontal tabs-corporate" id="tabs-1">
            <ul class="nav nav-tabs">
                @*<li class="active" role="presentation">
                        <a href="#tabs-1-2" data-toggle="tab">Latest vehicles on sale</a>
                    </li>*@
                @*<li role="presentation">
                        <a href="#tabs-1-2" data-toggle="tab">Latest vehicles on sale</a>
                    </li>*@
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tabs-1-2">
                    <div class="row row-fix">
                        <div class="col-sm-12 col-md-3">
                            <ul class="product-filter">
                                <li>
                                    <a href="#">All manufacturers</a>
                                </li>
                                <li>
                                    <a href="#">ASTON MARTIN</a>
                                </li>
                                <li>
                                    <a href="#">ALPHA ROMEO</a>
                                </li>
                                <li>
                                    <a href="#">AUDI</a>
                                </li>
                                <li>
                                    <a href="#">BMW</a>
                                </li>
                                <li>
                                    <a href="#">LAND ROVER</a>
                                </li>
                                <li>
                                    <a href="#">Mercedes-Benz</a>
                                </li>
                                <li>
                                    <a href="#">PORSCHE</a>
                                </li>
                                <li>
                                    <a href="#">SUZUKI</a>
                                </li>
                                <li>
                                    <a href="#">TOYOTA</a>
                                </li>
                                <li>
                                    <a href="#">VOLVO</a>
                                </li>
                                <li>
                                    <a href="#">VOLKSWAGEN</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            @if (ViewBag.CarError != null)
                            {
                                @*<div class="row" style="color:red;">
                                    @ViewBag.CarError
                                    <br />
                                </div>*@

                            }
                            else
                            {
                                <div class="row">

                                    @foreach (var item in Model.Take(6))
                                    {
                                        <div class="col-xxs-12 col-xs-6 col-sm-4">
                                            <div class="product-minimal">
                                                <div class="thumbnail clearfix">
                                                    <figure class="product-minimal-img">
                                                        <a style="cursor:pointer" onclick="viewCar('@item.Id')">
                                                            <img src="@item.Thumbnail" alt="" class="img-responsive" style="width:270px;height:150px;">
                                                        </a>
                                                    </figure>
                                                    <div class="caption">
                                                        <p class="small">REGISTERED @item.Year</p>
                                                        <div class="product-minimal-title">
                                                        <a style="cursor:pointer" onclick="viewCar('@item.Id')"> @item.Model @item.Make</a>
                                                        <div style="float:right;">
                                                            <button type="button" class="btn btn-success" onclick="redirectToPurchase('@item.Id')">Buy</button>
                                                        </div>
                                                        </div>
                                                        <div class="info">
                                                            <span class="price">@item.SalePrice.ToString("C", CultureInfo.CurrentCulture)</span>
                                                            <span class="speed">@item.Mileage.ToString("N", CultureInfo.CurrentCulture)s M</span>
                                                        </div>
                                                        <ul class="tag-list">

                                                            <li>@(item.IsNew ? "New" : "Used")</li>
                                                            <li>@item.Year</li>
                                                            <li>@(item.IsAutomatic ? "Automatic" : "Gear")</li>
                                                            @if (!(string.IsNullOrEmpty(item.Color)))
                                                            {
                                                                <li>@item.Color</li>
                                                            }
                                                            <li>@(item.IsPetrol ? "Petrol" : "Diesel")</li>
                                                            <li><a href="@item.Video.Url" target="_blank" style="cursor:pointer;"> Video </a></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }



                                </div>
                            }

                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="tabs-1-2">
                    <div class="row row-fix">
                        <div class="col-sm-12 col-md-3">
                            <ul class="product-filter">
                                <li>
                                    <a href="#">All manufacturers</a>
                                </li>
                                <li>
                                    <a href="#">ASTON MARTIN</a>
                                </li>
                                <li>
                                    <a href="#">ALPHA ROMEO</a>
                                </li>
                                <li>
                                    <a href="#">AUDI</a>
                                </li>
                                <li>
                                    <a href="#">BMW</a>
                                </li>
                                <li>
                                    <a href="#">LAND ROVER</a>
                                </li>
                                <li>
                                    <a href="#">Mercedes-Benz</a>
                                </li>
                                <li>
                                    <a href="#">PORSCHE</a>
                                </li>
                                <li>
                                    <a href="#">SUZUKI</a>
                                </li>
                                <li>
                                    <a href="#">TOYOTA</a>
                                </li>
                                <li>
                                    <a href="#">VOLVO</a>
                                </li>
                                <li>
                                    <a href="#">VOLKSWAGEN</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <div class="row">
                                @if (ViewBag.CarError == null)
                                {
                                    @foreach (var item in Model.OrderByDescending(i => i.Year).Take(6))
                                    {
                                        <div class="col-xxs-12 col-xs-6 col-sm-4">
                                            <div class="product-minimal">
                                                <div class="thumbnail clearfix">
                                                    <figure class="product-minimal-img">
                                                        <a onclick="viewCar('@item.Id')">
                                                            <img src="@item.Thumbnail" alt="" class="img-responsive" style="width:270px;height:150px;">
                                                        </a>
                                                    </figure>
                                                    <div class="caption">
                                                        <p class="small">REGISTERED @item.Year</p>
                                                        <div class="product-minimal-title"><a onclick="viewCar('@item.Id')"> @item.Model @item.Make</a></div>
                                                        <div class="info">
                                                            <span class="price">@item.SalePrice.ToString("C", CultureInfo.CurrentCulture)</span>
                                                            <span class="speed">@item.Mileage.ToString("N", CultureInfo.CurrentCulture) KM</span>
                                                        </div>
                                                        <ul class="tag-list">
                                                            <li>@(item.IsNew ? "New" : "Used")</li>
                                                            <li>@item.Year</li>
                                                            <li>@(item.IsAutomatic ? "Automatic" : "Gear")</li>
                                                            <li>@item.Color</li>
                                                            <li>@(item.IsPetrol ? "Petrol" : "Diesel")</li>
                                                            <li><a href="@item.Video.Url" target="_blank"> Video </a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function viewCar(carId) {
        window.location.href = "/Car/details?carId=" + carId + "";
    }
    function redirectToPurchase(carId) {
        window.location.href = "/Purchase/Summary?carId=" + carId + "";
    }
</script>