@model List<DataAccessLayer.Models.Car>
@using System.Globalization;
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
<link href="~/css/gflexslider.css" rel="stylesheet">
<link href="~/css/superslides.css" rel="stylesheet">
<script src="~/js/jquery.flexslider-min.js"></script>
<script src="~/js/jquery.superslides.js"></script>
@foreach (var item in Model)
{

    <div class="col-xxs-12 col-xs-6 col-sm-4">
        <div class="product-minimal">
            <div class="thumbnail clearfix">
                <figure class="product-minimal-img" style="position: relative;">
                    <a href="details.html">
                        <img src="@item.Thumbnail" alt="" class="img" style="width:343px;height:164px">
                    </a>
                    <div class="bid-offer-over">
                        <sapn class="offer-bid"><a onclick="viewCarOfferDetails('@item.Id')">Offers</a></sapn>
                        <sapn class="offer-bid"><a onclick="viewBiddingDetails('@item.Id')">Bidding</a></sapn>
                    </div>
                </figure>
                <div class="caption">




                    <div class="col-xs-12 pl-0 pr-0">
                        <div class="col-xs-5 pl-0 pr-0">
                            <p class="small">REGISTERED @item.Year</p>
                        </div>
                        <div class="col-xs-7 pl-0 pr-0">
                            @if (item.Status != "Submitted" && item.Status != "approved" && item.Status != "cancelled")
                            {
                                <button class="btn btn-success btn-xs rounded-0" type="button" data-toggle="tooltip" data-placement="top" style="width:fit-content;" title="View" onclick="submitAuction('@item.Id')">Submit Auction</button>
                            }

                        </div>
                    </div>




                    <div class="product-minimal-title">
                        <div class="title-div" title=" @item.Model @item.Make"><a title="@item.Model @item.Make" class="title-font" style="cursor:pointer;"> @item.Model @item.Make</a></div>



                    </div>



                    <div class="info">
                        <span class="price">@item.SalePrice.ToString("C", CultureInfo.CurrentCulture)</span>
                        @*<span class="speed">@item.Mileage KM</span>*@
                        <div>



                            <button class="btn btn-primary btn-xs rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="View" onclick="viewCar('@item.Id')"><i class="fa fa-table"></i></button>
                            <button class="btn btn-success btn-xs rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit" onclick="editCar('@item.Id')"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-xs rounded-0 removecar" type="button" data-toggle="tooltip" data-placement="top" title="Delete" onclick="removeCar('@item.Id')"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                    <ul class="tag-list">
                        <li>@(item.IsNew ? "New" : "Used")</li>
                        <li>@item.Year</li>
                        <li>@(item.IsAutomatic ? "Automatic" : "Gear")</li>
                        <li>@item.Color</li>
                        <li>@(item.IsPetrol ? "Petrol" : "Diesel")</li>

                    </ul>



                </div>
            </div>
        </div>
    </div>
}

