@model List<DataAccessLayer.Models.Image>
@using AgapeModel = DataAccessLayer.Models;
@using AgapeModelUser = DataAccessLayer.Models;
@using AgapeModelBid = DataAccessLayer.Models;
@using System.Globalization;



@{
    var loggedIn = User.Identity.Name;

    ViewData["Title"] = "Auctions/Details";

    if (!string.IsNullOrWhiteSpace(ViewBag.Layout))
    {
        Layout = "~/Views/Shared/" + ViewBag.Layout;
    }
    else
    {
        Layout = "_Layout_Page";
    }



    AgapeModel.Car carDetail = ViewBag.CarDetails;
    AgapeModelUser.User userDetail = ViewBag.UserDetails;
    //string[] invalidStatusToBuy = { "Hold", "PendingPayment" };
    AgapeModel.CarReview carReview = new AgapeModel.CarReview();
    var vid = carDetail.Video?.Url ?? "";
    var sp = vid.Replace("/watch?v=", "/embed/");
    var link = sp.Replace("https:", "");
    var videoUrl = (carDetail.Video != null && !string.IsNullOrEmpty(vid)) ? link : "https://www.youtube.com/embed/vC8LbvYk6es";
    decimal amount = ViewBag.StartingPrice;
    var bidDetail = new List<AgapeModelBid.Bid>();
    bidDetail = ViewBag.BidDetails;
    var StatusDate = ViewBag.Status_Date;

    var inc = ViewBag.inc;
    var loopCount = 0;
    decimal currentHighestBid = ViewBag.CurrentHighestBid;
    var bidRefreshFunctionUrl = ViewBag.BidRefreshFunctionUrl;
}
<link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet" type="text/css">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link href="~/css/jquery-ui.css" rel="stylesheet">
<link href="~/css/bootstrap.css" rel="stylesheet">
<link href="~/css/font-awesome.css" rel="stylesheet">
<link href="~/css/elegant-icons.css" rel="stylesheet">

<link href="~/css/light-gallery.css" rel="stylesheet">
<link href="~/css/gflexslider.css?ver=1.1" rel="stylesheet">
<link href="~/css/superslides.css" rel="stylesheet">
<link href="~/css/animate.css" rel="stylesheet">
<link href="~/css/select2.css" rel="stylesheet">
<link href="~/css/style.css" rel="stylesheet">

<script src="~/js/jquery.js"></script>
<script src="~/js/jquery-ui.js"></script>
<script src="~/js/jquery-migrate-1.2.1.min.js"></script>
<script src="~/js/jquery.easing.1.3.js"></script>
<script src="~/js/pointer-events.js"></script>
<script src="~/js/superfish.js"></script>
<script src="~/js/jquery.flexslider-min.js"></script>
<script src="~/js/select2.js"></script>
<script src="~/js/jquery.superslides.js"></script>
<script src="~/js/jquery.sticky.js"></script>
<script src="~/js/jquery.appear.js"></script>
<script src="~/js/jquery.ui.totop.js"></script>
<script src="~/js/jquery.caroufredsel.js"></script>
<script src="~/js/jquery.touchSwipe.min.js"></script>
<script src="~/js/material-parallax.js"></script>
<script src="~/js/rd-navbar.js"></script>
<script src="~/js/jquery.blockUI.js"></script>

<script src="~/js/light-gallery.js"></script>

<script src="~/js/rd-mailform.js"></script>
<script src="~/js/scripts.js"></script>
<script src="~/js/emailvalidation.js"></script>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/3.0.0/jquery.payment.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css" rel="stylesheet">


<link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/css/intlTelInput.css" rel="stylesheet" media="screen">
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/intlTelInput.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/intlTelInput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/utils.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.0.27/signalr.js"></script>

<meta charset="UTF-8">
<meta name="description" content="Credit Card Validator">
<meta name="author" content="Sachin">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    .classLiCarousel {
        float: none !important;
    }

    .modal-content1 {
        background-color: #fefefe;
        margin: 5% auto;
        border: 1px solid #888;
        width: 70%;
        padding: 20px;
        padding-bottom: 30px;
        height: 600px;
    }

    .modal-content2 {
        background-color: #fefefe;
        margin: 5% auto;
        border: 1px solid #888;
        width: 30%;
        padding: 10px;
        padding-bottom: 20px;
    }

    button.btn-default.btn-form2-submit {
        width: 93%;
        margin: 0 4%;
    }

    /* The Modal (background) */
    .modal {
        display: none; /*
    en by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: #00000066;
        padding-top: 50px;
    }



    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        border: 1px solid #888;
        width: 385px;
        padding: 20px;
        padding-bottom: 30px;
    }


    h5.stitle {
        padding: 10px 15px;
        margin-top: 0;
        margin-bottom: 0;
        text-shadow: 0 1px 2px #151317;
        color: #fff;
        background-color: #181c2a;
        font-size: 16px;
        font-weight: 600;
        border-radius: 4px 4px 0 0;
        text-align: left;
    }

    .close1 {
        position: absolute;
        right: 12px;
        top: 2px;
        font-size: 24px;
        font-weight: bold;
        color: #898989;
    }

    .close2 {
        right: 12px;
        top: 2px;
        font-size: 24px;
        font-weight: bold;
        color: #898989;
        float: right;
    }


        .close2:hover,
        .close2:focus,
        .close1:hover,
        .close1:focus {
            color: #f44336;
            cursor: pointer;
        }

    a.pop-a {
        width: 100%;
        height: 35px;
        background: #ffffff;
        border: 1px solid;
        border-radius: 4px;
        font-size: 14px;
        margin-top: 10px;
        line-height: 33px;
        text-decoration: none;
    }

        a.pop-a.fb {
            background: #1877f2;
            color: white;
            border: 1px solid #c5c5c5;
        }

        a.pop-a.apple {
            background: black;
            color: white;
        }

        a.pop-a i {
            padding-right: 8px;
        }

    span.top-up {
        background: white;
        padding: 9px;
        color: #c9c9c9;
    }

    h3.color-class {
        color: #181818;
        font-weight: bold;
    }

    .p a {
        padding-left: 4px;
        color: #6199e1;
    }

    .p {
        color: black;
        padding: 10px;
    }

    .title21 {
        width: 50%;
        float: left;
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        color: #202020;
        text-align: left;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .g-signin2 {
        width: 100%;
    }

    .abcRioButton.abcRioButtonLightBlue {
        width: 100% !important;
    }

    div#id02 .modal-content {
        width: 420px;
    }

    .col-sm-10.cmmts ul li {
        list-style: none;
    }


    .col-sm-10.cmmts ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        background: #181c2a;
        padding: 12px;
        color: white;
        border-radius: 4px;
    }

    #toast-container.toast-top-full-width > div {
        min-width: 30%;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        top: 130px;
    }

    .myinput[type="checkbox"]:checked:after {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC), linear-gradient(135deg, #B1B6BE 0%, #FFF 100%);
    }

    .myinput.large[type="checkbox"]:before {
        height: 16px;
        width: 16px;
        position: relative;
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid #808080;
        content: "";
        background: #FFF;
    }

    .myinput[type="checkbox"]:after {
        position: relative;
        display: block;
        left: 2px;
        top: -14px;
        width: 12px;
        height: 12px;
        border-width: 1px;
        border-style: solid;
        border-color: #B3B3B3 #dcddde #dcddde #B3B3B3;
        content: "";
        background-image: linear-gradient(135deg, #B1B6BE 0%, #FFF 100%);
        background-repeat: no-repeat;
        background-position: center;
    }

    input.myinput.large {
        height: 16px;
        width: 16px;
    }

    .is-invalid {
        border: 1px solid red;
    }




    .rating {
        --dir: right;
        --fill: gold;
        --fillbg: rgba(100, 100, 100, 0.15);
        --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
        --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
        --stars: 5;
        --starsize: 20px;
        --symbol: var(--star);
        --value: 1;
        --w: calc(var(--stars) * var(--starsize));
        --x: calc(100% * (var(--value) / var(--stars)));
        block-size: var(--starsize);
        inline-size: var(--w);
        position: relative;
        touch-action: manipulation;
        -webkit-appearance: none;
    }

    [dir="rtl"] .rating {
        --dir: left;
    }

    .rating::-moz-range-track {
        background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
        block-size: 100%;
        mask: repeat left center/var(--starsize) var(--symbol);
    }

    .rating::-webkit-slider-runnable-track {
        background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
        block-size: 100%;
        mask: repeat left center/var(--starsize) var(--symbol);
        -webkit-mask: repeat left center/var(--starsize) var(--symbol);
    }

    .rating::-moz-range-thumb {
        height: var(--starsize);
        opacity: 0;
        width: var(--starsize);
    }

    .rating::-webkit-slider-thumb {
        height: var(--starsize);
        opacity: 0;
        width: var(--starsize);
        -webkit-appearance: none;
    }

    .rating, .rating-label {
        display: block;
        font-family: ui-sans-serif, system-ui, sans-serif;
    }

    .rating-label {
        margin-block-end: 0rem;
    }

    /* NO JS */
    .rating--nojs::-moz-range-track {
        background: var(--fillbg);
    }

    .rating--nojs::-moz-range-progress {
        background: var(--fill);
        block-size: 100%;
        mask: repeat left center/var(--starsize) var(--star);
    }

    .rating--nojs::-webkit-slider-runnable-track {
        background: var(--fillbg);
    }

    .rating--nojs::-webkit-slider-thumb {
        background-color: var(--fill);
        box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
        opacity: 1;
        width: 1px;
    }

    [dir="rtl"] .rating--nojs::-webkit-slider-thumb {
        box-shadow: var(--w) 0 0 var(--w) var(--fill);
    }

    input.rating {
        width: 100px !important;
    }


        input.rating.rating--nojs {
            width: 180px !important;
            display: block;
            --starsize: 36px;
        }
</style>


<div id="id02" class="modal">

    <div class="row modal-content">

        <span onclick="document.getElementById('id02').style.display='none'" class="close1" title="Close Modal">×</span>

        <div class="col-sm-12 text-center">
            <img src="~/images/ShopCarHereLogo.png" style="height: 50px; padding-top: 13px;" />
        </div>


        <div class="col-sm-12 text-center">
            <h3 class="color-class"> Register to bid</h3>
        </div>

        <div class="col-sm-12 text-justify">
            <p>We require a valid credit card on file before you can bid. Winning bidders pay a 4.5% buyer’s fee to Cars & Bids on top of the winning bid amount. The minimum buyer’s fee is $225, and the maximum is $4,500.</a></p>
        </div>
        <div class="col-sm-12 pt-10 pb-10">
            <p>Bids are binding, so please bid wisely!</p>

        </div>
        <div class="col-sm-12 ">
            <h4> Credit Card Information</h4>

        </div>

        <form id="payment-form" method="post">
            <div class="col-sm-12">
                <div class="form-group form-wrap field">
                    <label>Name on card</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="col-sm-12 ">
                <div class="form-group form-wrap">
                    <label>Zip or Postal Code</label>
                    <input type="text" class="form-control" id="zip-code" maxlength="8" placeholder="ZIP Code" data-numeric>
                </div>
            </div>
            <div class="col-sm-12 ">
                <div class="form-group form-wrap field">
                    <label>Credit Card Number</label>
                    <input type="text" class="form-control" id="cc-number" placeholder="•••• •••• •••• ••••" data-payment='cc-number' />
                </div>
            </div>
            <div class="col-sm-12 p-0">
                <div class="col-sm-4">
                    <div class="form-group form-wrap field">
                        <label>Expiration</label>
                        <input type="password" class="form-control" id="cc-exp" data-payment='cc-exp' placeholder="MM/YY" />
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group form-wrap field">
                        <label>CVC (3 or 4 digit code)</label>
                        <input type="text" class="form-control" id="cc-cvc" data-payment='cc-cvc' placeholder="CVC" />
                    </div>
                </div>
            </div>

            <div class="col-sm-12 ">
                <h4> Contact Information</h4>
            </div>

            <div class="col-sm-12 p-0 pb-10">
                <div class="form-group form-wrap">

                    <div class="col-sm-12">
                        <label>Phone Number (in the event you win an auction)</label>
                    </div>

                    <div class="col-sm-12">

                        <input id="phone" class="form-control" type="tel">
                        <span id="valid-msg" class="hide">Valid</span>
                        <span id="error-msg" class="hide">Invalid number</span>
                    </div>


                </div>
            </div>

            <div class="col-sm-12">
                <input type="button" class="btn btn-success" value="Register to bid" onclick="submitForAuction()">

            </div>
        </form>

    </div>
</div>

<input type="hidden" id="gmailId" />
<div id="id01" class="modal">

    <div class="row modal-content">

        <span onclick="document.getElementById('id01').style.display='none'" class="close1" title="Close Modal">×</span>

        <div class="col-sm-12 text-center">
            <img src="~/images/ShopCarHereLogo.png" style="height: 50px; padding-top: 13px;" />
        </div>

        <div id="login_before">
            <div class="col-sm-12 text-center">
                <h3 class="color-class">Sign up</h3>
            </div>

            <div class="col-sm-12 text-center">
                <p class="p">Already have an account?<a>Sign in here</a></p>
            </div>
            <div class="col-sm-12 text-center" style="display:flex">
                <div class="g-signin2" data-onsuccess="onSignIn"></div>

            </div>

            <div class="col-sm-12 text-center" style="display:flex">
                <a class="pop-a fb" onclick="window.open('https://www.facebook.com/', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');"><i class="fa fa-facebook-f"></i>Continue with Facebook</a>
            </div>
            <div class="col-sm-12 text-center" style="display:flex">
                <a class="pop-a apple" onclick="window.open('https://appleid.apple.com/#!&page=signin', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');"><i class='fa fa-apple'></i>Continue with Apple</a>
            </div>
            <div class="col-sm-12 text-center mt-20">
                <hr />

            </div>
            <div class="col-sm-12 text-center" style="position: relative; top: -32px;"><span class="top-up">or</span></div>
            <form>
                <div class="col-sm-12 text-center">
                    <div class="form-group form-wrap">

                        <input type="text" class="form-control" id="txtStartAmount" placeholder="Email Address" onkeypress="removeInvalidClass('txtStartAmount')">
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <input type="button" class="btn btn-success" style=" width: 100%; }" value="Next" onclick="pay1()">

                </div>
            </form>
        </div>
        <div id="login_after" style="display:none">
            <div class="col-sm-12  text-center">
                <h3 class="color-class">
                    Must be verified bidder
                </h3>

            </div>
            <div class="col-sm-12">
                <p>Before you can contact the seller, you must become a verified bidder and agree to our bidding terms.</p>
            </div>
            <div class="col-sm-12">
                <a href="#" id="logout" onclick="signOut();">Sign out</a>
            </div>

            <div class="col-sm-6"><button class="btn btn-success" style="width: 100%; background: #cad2d9 !important; border: 1px solid black !important; }" onclick="document.getElementById('id01').style.display='none'">Cancel</button></div>
            <div class="col-sm-6"><button class="btn btn-success" style="width: 100%; }" onclick="pay()">View agreement</button></div>
        </div>


    </div>
</div>


<div id="ratingpopup" class="modal">
    <div class="row modal-content">
        <span onclick="saveCarReview('No')" class="close1" title="Close Modal">×</span>

        <div class="col-md-12 text-center">

            <span>Do you want to rate our car?</span>

        </div>
        <div class="col-md-12 text-center p-10">
            <label class="">

                <input id="rating" class="rating rating--nojs" max="5" step="1" type="range" value="0" style="cursor: pointer;">
            </label>
        </div>
        <div class="col-sm-12 text-center">
            <button type="button" class="btn btn-success" onclick="saveCarReview('Yes')">Yes</button>
            <button type="button" class="btn btn-success" onclick="saveCarReview('No')">No</button>
        </div>


    </div>
</div>

<div class="top3-wrapper novi-background bg-cover">
    <div class="container">
        <div class="top2 clearfix">

            <div class="row">

                <div class="col-md-6">
                    <h4> <b> Bidding Details </b> </h4>
                </div>

                <div class="col-md-6 float-right">

                </div>

            </div>

        </div>

    </div>

</div>
<div class="section breadcrumbs1_wrapper novi-background">
    <div class="container">
        <div class="breadcrumbs1"><a href="/">Home</a><span></span>Details</div>
    </div>
</div>


<div class="section section-md-bottom content novi-background bg-cover">
    <div class="container">
        <div class="col" id="divShowErrorSuccess">
            <div class="col-sm-12" id="divDetailText">

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-fix">
            <div class="col-sm-12 col-md-9 column-content">
                <img src="@carDetail.Thumbnail" class="img-responsive" style="width: 870px; height: 600px;">
                @*<div class="gslider-wrapper">
                        <div id="gslider" class="flexslider">
                            <ul class="slides">
                                @foreach (var item in Model.OrderBy(i => i.Order))
                                {
                                    <li style="width: 842px; height: 600px;">
                                        <img src="@item.Url" class="img-responsive" style="width: 870px; height: 600px;">

                                    </li>

                                }
                                <li style="width: 842px; height: 600px;">
                                    <iframe width="870" height="600" src="@videoUrl"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                </li>
                            </ul>

                        </div>
                        <div id="carousel" class="flexslider">
                            <ul class="slides">
                                @foreach (var item in Model.OrderBy(i => i.Order))
                                {
                                    <li style="width: 121px; height: 90px;">
                                        <img src="@item.Url" style="height: 100%; object-fit: cover;" class="img-responsive">
                                    </li>
                                }
                                <li style="width: 121px; height: 90px;">
                                    <img src="~/images/VideoThumpnail.jpg" style=" object-fit: cover; height: 100%;" class="img-responsive">

                                </li>
                            </ul>
                        </div>
                    </div>*@


                <div class="col-sm-12 cmmts p-0 pb-30" style="margin-top:20px;">
                    <input type="hidden" id="hdnAuthentication" value="@loggedIn" />
                    <div class="col-sm-10 cmmts p-0">
                        <ul>
                            <li><i class="fa fa-clock-o" style="font-size:20px">&nbsp;<span class="trip_@StatusDate"></span></i></li>
                            <li><i class="fa fa-arrow-up" style="font-size:20px">&nbsp;Highest&nbsp;Bid</i>&nbsp;<span id="bidd">@currentHighestBid.ToString("C", CultureInfo.CreateSpecificCulture("en-us")) </span></li>
                            <li><i class="fa fa-hashtag" style="font-size:20px">&nbsp;Bids&nbsp;<span id="bidCount"></span></i></li>
                            <li><i class="fa fa-comments-o" style="font-size:20px">&nbsp;Comments&nbsp;<span id="CommentCount"></span></i></li>
                        </ul>


                    </div>
                    <div class="col-sm-2 pr-0" style="padding:15px;">
                        <a href="#" onclick="addUsertoWatchlist('@carDetail.Id')"><img src="~/images/View_icon.png" style="width:16px;height:16px;" /></a>
                        @*<button class="btn btn-success" style="width: 100%; height: 46px;" onclick="pay()">Place bid</button>*@
                    </div>
                </div>

                <div class="col-sm-12 cmmts p-0 pb-30">
                    @Html.Raw(ViewBag.AdditionalCarDetails)
                </div>

                @*<div class="tabs2-wrapper">
                        <ul class="tabs clearfix" data-tabgroup="second-tab-group">
                            <li class="active"><a href="#tabs3-1">VEHICLE OVERVIEW</a></li>
                            <li><a href="#tabs3-2">FEATURES & OPTIONS</a></li>
                            <li><a href="#tabs3-3">VEHICLE LOCATION</a></li>
                            <li><a href="#tabs3-4">Comments & Questions</a></li>

                        </ul>
                    </div>*@
                <div>
                    <div class="title2">
                        <input type="hidden" id="hdnCarId" value="@carDetail.Id" />

                        DESCRIPTION
                    </div>
                    <p>@carDetail.Description</p>
                </div>


                <div class="row row-fix">
                    <div class="col-sm-6">
                        <div class="title2">EXTRA FEATURES</div>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="ul3">
                                    <li><a href="#">@carDetail.Properties.VehicleType</a></li>
                                    <li><a href="#">@carDetail.Properties.TransmissionStyle (TransmissionStyle)</a></li>
                                    <li><a href="#">@carDetail.Properties.SeatBeltsAll</a></li>
                                    <li><a href="#">@carDetail.Properties.PlantCountry</a></li>
                                    <li><a href="#">@carDetail.Properties.PlantCity</a></li>
                                    <li><a href="#">@carDetail.Properties.OtherRestraintSystemInfo</a></li>
                                    <li><a href="#">@carDetail.Properties.ModelID (ModelID)</a></li>
                                    <li><a href="#">@carDetail.Properties.ManufacturerId (ManufacturerId)</a></li>
                                    <li><a href="#">@carDetail.Properties.MakeID (MakeID)</a></li>
                                    <li><a href="#">@carDetail.Properties.Manufacturer (Manufacturer)</a></li>
                                    <li><a href="#">@carDetail.Properties.FuelTypePrimary</a></li>
                                    <li><a href="#">@carDetail.Properties.EngineModel</a></li>
                                    <li><a href="#">@carDetail.Properties.EngineManufacturer (EngineManufacturer)</a></li>
                                    <li><a href="#">@carDetail.Properties.EngineConfiguration</a></li>
                                    <li><a href="#">@carDetail.Properties.DestinationMarket (DestinationMarket)</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="ul3">
                                    <li><a href="#">@carDetail.Properties.Doors (Doors)</a></li>
                                    <li><a href="#">@carDetail.Properties.DisplacementL (DisplacementL)</a></li>
                                    <li><a href="#">@carDetail.Properties.DisplacementCI (DisplacementCI)</a></li>
                                    <li><a href="#">@carDetail.Properties.DisplacementCC (DisplacementCC)</a></li>
                                    <li><a href="#">@carDetail.Properties.BodyClass</a></li>
                                    <li><a href="#">@carDetail.Properties.AirBagLocFront</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="title2">Essential Options</div>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="ul3">
                                    <li><a href="#">@carDetail.Properties.VehicleType</a></li>
                                    <li><a href="#">@carDetail.Properties.TransmissionStyle (TransmissionStyle)</a></li>
                                    <li><a href="#">@carDetail.Properties.SeatBeltsAll</a></li>
                                    <li><a href="#">@carDetail.Properties.PlantCountry</a></li>
                                    <li><a href="#">@carDetail.Properties.PlantCity</a></li>
                                    <li><a href="#">@carDetail.Properties.OtherRestraintSystemInfo</a></li>
                                    <li><a href="#">@carDetail.Properties.ModelID (ModelID)</a></li>
                                    <li><a href="#">@carDetail.Properties.ManufacturerId (ManufacturerId)</a></li>
                                    <li><a href="#">@carDetail.Properties.MakeID (MakeID)</a></li>
                                    <li><a href="#">@carDetail.Properties.Manufacturer (Manufacturer)</a></li>
                                    <li><a href="#">@carDetail.Properties.FuelTypePrimary</a></li>
                                    <li><a href="#">@carDetail.Properties.EngineModel</a></li>
                                    <li><a href="#">@carDetail.Properties.EngineManufacturer (EngineManufacturer)</a></li>
                                    <li><a href="#">@carDetail.Properties.EngineConfiguration</a></li>
                                    <li><a href="#">@carDetail.Properties.DestinationMarket (DestinationMarket)</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="ul3">
                                    <li><a href="#">@carDetail.Properties.Doors (Doors)</a></li>
                                    <li><a href="#">@carDetail.Properties.DisplacementL (DisplacementL)</a></li>
                                    <li><a href="#">@carDetail.Properties.DisplacementCI (DisplacementCI)</a></li>
                                    <li><a href="#">@carDetail.Properties.DisplacementCC (DisplacementCC)</a></li>
                                    <li><a href="#">@carDetail.Properties.BodyClass</a></li>
                                    <li><a href="#">@carDetail.Properties.AirBagLocFront</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row row-fix">
                    <div class="row row-fix" style="margin-left:10px;">
                        <div class="title21">VEHICLE LOCATION</div>

                    </div>

                    <div id="map" style="height:400px;margin-left:10px;">
                    </div>

                </div>

                <div class="row row-fix">



                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="">
                            <div class="title21">YOUR COMMENT / QUESTION</div>


                        </div>

                        <div id="note3"></div>
                        <div id="fields3">
                            <div class="row">
                                <input type="hidden" id="hdnCarId" value="@carDetail.Id" />
                                <div class="col-sm-12">
                                    <div class="form-group form-wrap">

                                        <textarea class="form-control" rows="9" id="txtMessage" required placeholder="Your Message" style="resize:vertical;" onkeypress="removeInvalidClass('txtMessage')"></textarea>
                                    </div>

                                </div>

                            </div>

                            <button type="button" style="width:100%;" class="btn-default btn-cf-submit3" onclick="openratingpopup()">SEND COMMENTS</button>


                        </div>
                    }
                    else
                    {
                        <div class="">
                            <div class="title21">YOUR COMMENT / QUESTION</div>


                        </div>

                        <div id="note3"></div>
                        <div id="fields3">
                            <div class="row">
                                <input type="hidden" id="hdnCarId" value="@carDetail.Id" />
                                <div class="col-sm-12">
                                    <div class="form-group form-wrap">

                                        <textarea class="form-control" rows="9" id="txtMessage" style="resize:vertical;" disabled required placeholder="Login to write comments/questions" onkeypress="removeInvalidClass('txtMessage')"></textarea>

                                    </div>

                                    <a class="logcomment" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn" style="padding-bottom: 25px; float: left; color: #337ab7; font-weight: 600;">Login to write comment/question</a>

                                </div>

                            </div>

                        </div>
                    }
                    <div id="review" style="padding-top: 30px;">

                    </div>
                </div>

                <div class="row">
                    <div class="title21">VIDEO GALLERY</div>
                </div>

                <div class="row row-fix">
                    <div class="modal" id="divVideoModelDialog">
                        <div class="row modal-content1">
                            <span onclick="document.getElementById('divVideoModelDialog').style.display='none'" class="close2" title="Close Modal">×</span>
                            <div class="sectionContent">
                                <div class="subgroup">
                                    <div class="resurcesBlock">
                                        <div class="modal-body">
                                            <div id="vSlider" class="flexslider">
                                                <ul class="slides">
                                                    <li style="width: 920px; height: 530px;">
                                                        <iframe width="900" height="520" src="@videoUrl"
                                                                title="YouTube video player" frameborder="0"
                                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2" style="height:120px;">
                            <img src="~/images/VideoThumpnail.jpg" style="height: 90px;width:121px; object-fit: cover;cursor:pointer;" onclick='openVideoPopup();' class="img-responsive">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="title21">IMAGE GALLERY</div>
                </div>
                <div class="row row-fix">
                    <div class="modal" id="divModelDialog">
                        <div class="row modal-content1">
                            <span onclick="document.getElementById('divModelDialog').style.display='none'" class="close2" title="Close Modal">×</span>
                            <div class="sectionContent">

                                <div class="subgroup">
                                    <div class="resurcesBlock">
                                        <div class="modal-body" id="divGalleryModel">

                                            <div id="gslider" class="flexslider">
                                                <ul class="slides">
                                                    @foreach (var item in Model.OrderBy(i => i.Order))
                                                    {
                                                        <li>
                                                            <img src="@item.Url" class="img-responsive" style="height:530px;">

                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">

                        @foreach (var item in Model.OrderBy(i => i.Order))
                        {
                            <div class="col-sm-2" style="height:120px;">
                                <img src="@item.Url" style="height: 90px;width:121px; object-fit: cover;cursor:pointer;" onclick='openPopup("@loopCount");' class="img-responsive">
                            </div>
                            loopCount += 1;
                        }

                    </div>

                    @*<div id="carousel" class="flexslider">
                            <ul class="slides clsLiCarousal">
                                @foreach (var item in Model.OrderBy(i => i.Order))
                                {

                                    loopCount += 1;
                                    if (loopCount % 6 == 0)
                                    {
                                        <li style="width: 121px; height: 90px;" class="classLiCarousel">
                                            <img src="@item.Url" style="height: 100%; object-fit: cover;" onclick="openPopup();" class="img-responsive">
                                        </li>
                                    }
                                    else
                                    {
                                        <li style="width: 121px; height: 90px;">
                                            <img src="@item.Url" style="height: 100%; object-fit: cover;" onclick="openPopup();" class="img-responsive">
                                        </li>
                                    }
                                }
                            </ul>
                        </div>*@
                </div>

            </div>
            <div class="col-sm-12 col-md-3 column-sidebar">

                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <div class="banner2-wrapper">
                            <div class="contact-banner">
                                <div class="top-info clearfix">
                                    <div class="info1">
                                        <div class="banner-title">@carDetail.Model @carDetail.Make</div>
                                        <div class="txt2">
                                            <span class="txt">FIRST DRIVE REVIEW</span>

                                            <span id="CarRating" class="stars"></span>




                                        </div>
                                    </div>
                                </div>
                                <div class="txt4">
                                    Current Bid
                                </div>

                                <div class="txt3">
                                    <div id="bid">@currentHighestBid.ToString("C", CultureInfo.CreateSpecificCulture("en-us"))</div>
                                    <input type="hidden" id="hdnLatestBid" value="@currentHighestBid">
                                    <input type="hidden" id="hdnCarSalePrice" value="@amount">
                                    <input type="hidden" id="hdnCarBidPrice" value="@amount">
                                    <input type="hidden" id="hdnincPrice" value="@inc">
                                </div>
                                <div class="txt4">@userDetail.CompanyName</div>
                                <div class="txt5">
                                    @userDetail.Address.Street, <br>
                                    @userDetail.Address.City, @userDetail.Address.State, @userDetail.Address.Zip<br>
                                    Phone: <a href="tel:#">@userDetail.Phone</a>
                                </div>


                                <div style="margin-bottom:10px;">
                                    <input class="form-control amountfmt" id="txtBidAmount" value="" type="text" />

                                </div>
                                <div style="margin-bottom:10px;">
                                    @*<button type="button" class="btn btn-success" id="login-block" onclick="document.getElementById('id01').style.display='block'" style="width:100%;">Bid Now</button>*@
                                    @*<button type="button" class="btn btn-success" id="bid-block" onclick="biddingCar()" style="width:100%;">Bid Now</button>*@
                                    <button type="button" class="btn btn-success" id="bid-block" onclick="authorizeBdding()" style="width:100%;">Bid Now</button>
                                </div>

                                <div class="modal" id="divBidConfirmationDialog">
                                    <div class="row modal-content2">
                                        <span onclick="document.getElementById('divBidConfirmationDialog').style.display='none'" class="close2" title="Close Modal">×</span>
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Bid Confirmation</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div id="divBidConfirmationModalContent"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" onclick="document.getElementById('divBidConfirmationDialog').style.display='none'">No</button>
                                            <button type="button" class="btn btn-primary" onclick="ContinueBidding();">Yes</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-wrapper">
                                    <div id="note2"></div>
                                    <div id="fields2">
                                        <form id="ajax-contact-form2" class="form-horizontal rd-mailform">
                                            <div class="form-group form-wrap">
                                                <label for="inputEmail">Email</label><input type="text" class="form-control" id="inputEmail" name="email" placeholder="E-mail address" required>
                                            </div>
                                            <div class="form-group form-wrap">
                                                <label for="inputMessage">Your Message</label>
                                                <textarea class="form-control" rows="9" id="inputMessage" style="resize:vertical;" placeholder="Message" name="content" required></textarea>
                                            </div>

                                            <div class="">

                                                <input type="checkbox" checked="checked" class="myinput large"> Send me a copy of this message

                                            </div>

                                            <div class="">

                                                <input type="checkbox" checked="checked" class="myinput large"> Subscribe to our Newsletter

                                            </div>

                                            <button type="submit" class="btn-default btn-cf-submit2" onclick="sentmail()">SEND E-MAIL</button>


                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-sm-6 col-md-12">
                            <div class="banner3-wrapper">
                                <div class="banner3">
                                    <div class="top-info clearfix">
                                        <div class="info1">
                                            <div class="txt1">Financing Offer</div>
                                        </div>
                                    </div>
                                    <div class="txt2">Vehicle</div>
                                    <div class="txt3">RANGE ROVER</div>
                                    <div class="form-wrapper">
                                        <div id="note1"></div>
                                        <div id="fields1">
                                            <form id="ajax-contact-form1" class="form-horizontal" action="javascript:;">

                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6 col-md-12">
                                                        <div class="form-group">
                                                            <label for="inputName">Credit amount ($)</label>
                                                            <input type="text" class="form-control" id="inputName" name="name" value="34990">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-12">
                                                        <div class="form-group">
                                                            <div class="select1_wrapper">
                                                                <label>Running time</label>
                                                                <div class="select1_inner form-control">
                                                                    <select class="select2 select" style="width: 100%">
                                                                        <option value="1">60 months</option>
                                                                        <option value="2">48 months</option>
                                                                        <option value="3">36 months</option>
                                                                        <option value="4">24 months</option>
                                                                        <option value="5">12 months</option>

                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="txt4">In cooperation with CHECK24</div>

                                                <button type="submit" class="btn-default btn-cf-submit1">CALCULATE NOW</button>


                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>*@
                    <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-12">
                        <div class="banner novi-background">
                            <figure><a href="#"><img src="~/images/banner.jpg" alt="" class="img-responsive"></a></figure>

                        </div>
                    </div>


                </div>
            </div>



            <div class="col-sm-12 col-md-9" style="margin-top:20px;">

                <div class="col-sm-12 p-0 pb-20">
                    <h3>Auctions ending soon</h3>
                </div>
                @await Component.InvokeAsync("Auctions", new { viewName = "LatestAuction" })
            </div>


        </div>

    </div>
</div>



<div class="snackbars" id="form-output-global"></div>
<script src="~/js/bootstrap.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script>

    window.addEventListener("pageshow", function (event) {
        var historyTraversal = event.persisted ||
            (typeof window.performance != "undefined" &&
                window.performance.navigation.type === 2);
        if (historyTraversal) {
            console.log('Window reloaded');
            window.location.reload();
        }
    });

     var bidRefreshFunctionUrl = '@bidRefreshFunctionUrl';
    console.log(bidRefreshFunctionUrl);
    const connection = new signalR.HubConnectionBuilder()
        .withUrl(bidRefreshFunctionUrl +'/api')
        .configureLogging(signalR.LogLevel.Information)
        .build();

    connection.on('target', updateBiddingDetails);
    connection.onclose(() => console.log('signalR Disconnected'));

    console.log('connecting...');
    connection.start({ withCredentials: false })
        .then(() => console.log("signalR started"))
        .catch(console.error);


    function updateBiddingDetails(biddingDetails) {
        console.log(biddingDetails);

        if (biddingDetails != null && biddingDetails != undefined && biddingDetails != 'undefined') {
            if (biddingDetails.CarId != null && biddingDetails.CarId != null != undefined && biddingDetails.CarId != null != 'undefined' && biddingDetails.CarId == $("#hdnCarId").val()) {
                if (biddingDetails.BiddingAmount != null && biddingDetails.BiddingAmount != null != undefined && biddingDetails.BiddingAmount != null != 'undefined') {
                    $("#bid").html(formatToCurrency(biddingDetails.BiddingAmount));
                    $("#bidd").html(formatToCurrency(biddingDetails.BiddingAmount));
                    $("#hdnLatestBid").val(biddingDetails.BiddingAmount);
                }
            }
        }
    }

    const formatToCurrency = amount => {
        return "$" + amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
    };


    var firstPopup = false;
    var firstVideoPopup = false;

    function addUsertoWatchlist(carId) {
        var loggedinUser = $("#hdnAuthentication").val();
        if (loggedinUser) {

            var pUrl = "/Auctions/AddWatchlist";
            $.ajax({
                type: "POST",
                data: { carId: carId },
                url: pUrl,
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        if (data.result == true) {
                            if (data.isNew == true) {
                                showMessage("Successfully added details to watchlist", "success");
                            }
                            else {
                                showMessage("Your details already there in the watchlist", "success");
                            }
                        }
                        else {
                            showMessage("Error occurred while adding details to watchlist", "error");
                        }
                    }
                    else {
                        showMessage("Error occurred while adding details to watchlist", "error");
                    }
                },
                error: function (error) {
                    showMessage("Error occurred while adding details to watchlist", "error");
                }

            });

        }
        else {
            window.location.href = "/MicrosoftIdentity/Account/SignIn";
        }
    }

    function viewCar(carId) {
        window.location.href = "/Auctions/Details?carId=" + carId + "";
    }

    $(document).ready(function () {

        var carId = $("#hdnCarId").val();
        $("#review").load("/Car/ViewReview?carId=" + carId);
        //$("#divModelDialog").hide();
        //document.getElementById('divModelDialog').style.display = 'block';
        //var millisecondsToWait = 7000;
        //$.blockUI({
        //});
        //setTimeout(function () {
        //    document.getElementById('divModelDialog').style.display = 'none';
        //    $.unblockUI({
        //    });
        //}, millisecondsToWait);
    });

    //$(window).load(function () {
    //    document.getElementById('divModelDialog').style.display = 'none';
    //});
    function openPopup(imageIndex) {
        //$("#divModelDialog").show();
        // alert('test');
        //window.focus();
        // $("#gslider").click();
        var carId = $("#hdnCarId").val();
        // $('#divGalleryModel').load("/Auctions/AuctionGallery?id=" + carId + "");

        document.getElementById('divModelDialog').style.display = 'block';

        if (!firstPopup) {
            firstPopup = true;
            var o = $('#gslider');
            if (o.length > 0) {
                o.flexslider({
                    animation: "slide",
                    controlNav: false,
                    animationLoop: false,
                    slideshow: false,
                    // sync: "#carousel",
                    directionNav: true,
                    start: function (slider) {

                    }
                });
            }
        }
        var iIndex = parseInt(imageIndex);
        $('#gslider').flexslider(iIndex);
    }

    function openVideoPopup() {
        document.getElementById('divVideoModelDialog').style.display = 'block';
        if (!firstVideoPopup) {
            firstVideoPopup = true;
            var o = $('#vSlider');
            if (o.length > 0) {
                o.flexslider({
                    animation: "slide",
                    controlNav: false,
                    animationLoop: false,
                    slideshow: false,
                    directionNav: true,
                    start: function (slider) {

                    }
                });
            }
        }
    }



    function sentmail() {
        var email = $('#inputEmail').val();


        if (email != "") {
            emailvalidation(email, callMe)
        }
        else {
            showMessage("Please fill all the required fields", "error");
        }






        function callMe(aaaa) {
            if (aaaa == 0) {
                showMessage("Please enter valid email id", "error");

                e.exit();
            }
        }
    }


    $(document).ready(function () {





        var Id = $("#hdnCarId").val();
        setInterval(function () {
            //$("#bid").load("/Auctions/HighestBid?carId=" + Id);
            //$("#bidd").load("/Auctions/HighestBid?carId=" + Id);
            $("#bidCount").load("/Auctions/BidCount?carId=" + Id);
            $("#CommentCount").load("/Auctions/CommentCount?carId=" + Id);
            $("#bid").load("/Auctions/HighestBid?carId=" + Id);
            var fff = $("#bid").text();
            //$("#hdnCarBidPrice").val(fff);


        }, 1000);
        $("#CarRating").load("/Car/Ratings?carId=" + Id);

    });

    var email = "";
    var name = "";
    var fn = "";
    var ln = "";
    var span_Text = "";
    span_Text = document.getElementById("hellotext").innerText;



    //if (typeof span_Text === 'undefined') {

    //    alert(span_Text);

    //}

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');

            $('#login_before').show();
            $('#login_after').hide();


            document.getElementById('login-block').style.display = 'block';
            document.getElementById('bid-block').style.display = 'none';


        });
    }
    function validateCarReviewSave() {
        var lstInvalidControls = [];

        if (!$("#txtMessage").val())
            lstInvalidControls.push('txtMessage');

        if (lstInvalidControls.length > 0) {
            lstInvalidControls.forEach(function (controlItem) {
                $("#" + controlItem).addClass("is-invalid");
            });
            return false;
        }
        else {
            if ($("#txtEmailAddress").val()) {
                emailvalidation($("#txtEmailAddress").val(), emailFunc)
            }
        }

        function emailFunc(email) {
            if (email == 0) {
                showMessage("Please enter valid email id", "error");
                e.exit();
            }
        }

        return true;
    }
    function saveCarReview(rate) {

        if (!validateCarReviewSave()) {
            showMessage("Please fill all the required fields ", "error")
            document.getElementById('ratingpopup').style.display = 'none';
        }
        else {
            if (rate == "Yes") {
                var rating = $("#rating").val();
            }
            else {
                var rating = 0;
            }


            var message = $("#txtMessage").val();
            var carId = $("#hdnCarId").val();



            var pUrl = "/Car/SaveCarReview";
            $.ajax({
                type: "POST",
                url: pUrl,
                data: { message: message, carId: carId, rate: rating, type: "Review", title: "" },
                success: function (data) {
                    if (data.saveResult == true) {
                        showMessage("Car Review saved successfully", "success");
                        $("#txtYourName").val('');
                        $("#txtEmailAddress").val('');
                        $("#txtMessage").val('');
                        $("#review").load("/Car/ViewReview?carId=" + carId);
                        $("#rating").val('0');
                        $("#CarRating").load("/Car/Ratings?carId=" + carId);
                        document.getElementById('ratingpopup').style.display = 'none';
                    }
                    else {
                        showMessage("Error occurred while save the car review", "error");
                        $("#rating").val('0');
                        document.getElementById('ratingpopup').style.display = 'none';
                    }
                },
                error: function (error) {
                    showMessage("Error occurred while save the car review", "error");
                    $("#rating").val('0');
                    document.getElementById('ratingpopup').style.display = 'none';
                }
            });
        }
    }
    function openratingpopup() {
        document.getElementById('ratingpopup').style.display = 'block';
    }
</script>
<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.


        email = profile.getEmail();
        name = profile.getName();
        fn = profile.getGivenName();
        ln = profile.getFamilyName();
        $("#gmailId").val(profile.getId());
        if (email != "" || span_Text != "") {

            $.get("/Home/ValidateAndAddUser1", { Id: $("#gmailId").val(), Email: email, Name: name, Fn: fn, Ln: ln }, function (data) {

            });
            $('#login_before').hide();
            $('#login_after').show();
            document.getElementById('login-block').style.display = 'none';
            document.getElementById('bid-block').style.display = 'block';
        }
        else {
            $('#login_before').show();
            $('#login_after').hide();
        }

    }

</script>

<script>

    if (email != "" || span_Text != "") {

        document.getElementById('login-block').style.display = 'none';
        document.getElementById('bid-block').style.display = 'block';
    }
    else {

        document.getElementById('login-block').style.display = 'block';
        document.getElementById('bid-block').style.display = 'none';


    }

    if (span_Text != "") {
        $('#logout').hide();

    }





    function pay() {

        if (email != "" || span_Text != "") {
            document.getElementById('id01').style.display = 'none';
            document.getElementById('id02').style.display = 'block';

            // $('#login_before').hide();
            // $('#login_after').show();

            var pUrl = "/Auctions/AuthorizeBidding";

            $.ajax({
                type: "POST",
                data: { userEmail: email },
                url: pUrl,
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        if (data.result == true) {
                            showMessage("You have been authorized Successfully", "success");
                        }
                        else {
                            showMessage("Error occured while authorizing the card", "error");
                        }
                    }
                    else {
                        showMessage("Error occured while authorizing the card", "error");
                    }
                },
                error: function (error) {
                    showMessage("Error occured while authorized the card", "error");
                }

            });


        }
        else {

            document.getElementById('id01').style.display = 'block';
            document.getElementById('id02').style.display = 'none';

            $('#login_before').show();
            $('#login_after').hide();
        }

        if (span_Text != "") {
            $('#logout').hide();

        }

    }

    // Get the modal
    var modal = document.getElementById('id01');
    var modal2 = document.getElementById('id02');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }

        if (event.target == modal2) {
            modal2.style.display = "none";
        }

    }</script>


<script type="text/javascript">
    var currentLocations = [];
    var allLocations = [];
    var allDealerInfo = [];
    var markerDealers = [];

    function showMessage(messageText, labelClass) {
        //$("#divShowErrorSuccess").show();
        //$("#divDetailText").html("<div class=\"" + labelClass + "\">" + messageText + "</div>");
        //$(window).scrollTop(0);
        //$('#divShowErrorSuccess').delay(8000).fadeOut('slow');

        Command: toastr[labelClass](messageText);
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }

    function validateSave() {

        var message = "";
        var currentBidAmount = parseInt($("#txtBidAmount").val().replace(/,/g, ''));
        var latestBidAmount = parseInt($("#hdnLatestBid").val());
        var inc = parseInt($("#hdnincPrice").val());

        var sum = latestBidAmount + inc;

        if (!$("#txtBidAmount").val()) {
            message = "Please enter the bid amount to continue";
        }
        else if (sum > currentBidAmount) {
            //alert(sum + '>' + currentBidAmount );
            sum = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(sum);
            message = "The minimum bid amount should not be less than " + sum;
        }
        return message;
    }


    function biddingCar() {
        var error = validateSave();
        if (error == "") {

            var id = $("#gmailId").val();
            var carId = $("#hdnCarId").val();
            var bidAmount = $("#txtBidAmount").val();

            var pUrl = "/Auctions/AddBidding?id="+id;
            var messageText = "Saved";

            var biddingDetails = {
                CarId: carId, BiddingAmount: bidAmount
            };

            var jStr = "biddingDetails=" + JSON.stringify(biddingDetails);

            $.ajax({
                type: "POST",
                data: jStr,
                url: pUrl,
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        if (data.result == true) {
                            showMessage("Successfully Bidded", "success");
                        }
                        else {
                            showMessage("Error occurred while save the bidding", "error");
                        }
                    }
                    else {
                        showMessage("Error occurred while save the bidding", "error");
                    }
                },
                error: function (error) {
                    showMessage("Error occurred while save the bidding", "error");
                }

            });
        }
        else {
            showMessage(error, "alert alert-danger");
        }
    }

    function redirectToPurchase(carId) {
        var carId = $("#hdnCarId").val();
        window.location.href = "/Purchase/Summary?carId=" + carId + "";
    }

     $(document).ready(function () {
        if ('@userDetail' != null && '@userDetail' != "") {
            var user = '@Html.Raw(Json.Serialize(userDetail))';
            var dealersSer = $.parseJSON(user);
            allDealerInfo = dealersSer;
            console.log(allDealerInfo);
            $(dealersSer).each(function (i, v) {
                $(this.address).each(function (j, a) {
                    allLocations.push({ dealerName: v.companyName, locations : this });
                });
            });
            currentLocations = allLocations;
           }
           InitMap();

     });

    var map;
    var markers = [];

    function InitMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: new google.maps.LatLng(39.8097343, -98.5556199),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        setMarkers();
        google.maps.event.trigger(markers[0], 'click');
    }

    function setMarkers() {
        var marker, i;
        var previnfowindow = false;
        $(currentLocations).each(function (i, v) {
            var location = v.locations;
            if (location.lat != null && location.lon != null) {
                var title = v.dealerName;
                var address = location.street + "," + location.city + "," + location.state + "," + location.country + "," + location.zip;
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(location.lat, location.lon),
                    map: map
                });
                markers.push(marker);

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        if (previnfowindow) {
                            previnfowindow.close();
                        }
                        var html = "<div><div><h5>" + title + "</h5></div>";
                        html += "<div><div><img src='/images/Default_Car.jpg' alt='' class='img-responsive' style='width:100px;height:70px;' /></div>";
                        html += "<div style='margin-top:5px;'>" + address + "</div></div></div>";
                        iw = new google.maps.InfoWindow({
                            content: html,
                            maxWidth: 350
                        });
                        previnfowindow = iw;
                        iw.open(map, marker);
                    }
                })(marker, i));
            }
            console.log(markers);
        });
    }


</script>

<script>
    function TimeRemaining() {
        var els = [...document.querySelectorAll('[class^="trip_"]')];
        els.forEach(el => {
            var end_time = el.className.split("_")[1]
            var deadline = new Date(end_time);
            var now = new Date();
            var t = Math.floor(deadline.getTime() - now.getTime());
            var days = Math.floor(t / (1000 * 60 * 60 * 24));
            var hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((t % (1000 * 60)) / 1000);
            if (t < 0) {

                var classname = document.getElementsByClassName("trip_" + end_time);


                for (var i = 0; i < classname.length; i++) {
                    document.getElementsByClassName("trip_" + end_time)[i].innerText = 'EXPIRED';
                }


            } else {
                var classname = document.getElementsByClassName("trip_" + end_time);
                for (var i = 0; i < classname.length; i++) {
                    //document.getElementsByClassName("trip_" + end_time)[i].innerText = days + "d " + hours + "h " + minutes + "m " + seconds + "s";


                    if (days != 0) {
                        document.getElementsByClassName("trip_" + end_time)[i].innerText = days + "d " + hours + "h " + minutes + "m " + seconds + "s";
                    }
                    else {
                        document.getElementsByClassName("trip_" + end_time)[i].innerText = hours + "h " + minutes + "m " + seconds + "s";
                    }
                }


            }
        })
        window.requestAnimationFrame(TimeRemaining);
    }

    function StartTimeRemaining() {
        TimeRemaining();
        window.requestAnimationFrame(TimeRemaining);
    }

    StartTimeRemaining()
</script>



<script type="text/javascript">

    function ContinueBidding() {
        var carId = $("#hdnCarId").val();
        var bidAmount = $("#txtBidAmount").val();
        window.location.href = "/ActionsCheckout/Summary?carId=" + carId + "&bidAmount=" + bidAmount;
    }

    function authorizeBdding() {
        var error = validateSave();
        if (error == "") {
            var bidAmount = $("#txtBidAmount").val();
            $("#divBidConfirmationModalContent").html("Are you sure you are place a Bid for $" + bidAmount)
            document.getElementById('divBidConfirmationDialog').style.display = 'block';
        }
        else {
            showMessage(error, "error");
        }

        //if (error == "") {

        //    var carId = $("#hdnCarId").val();
        //    var bidAmount = $("#txtBidAmount").val();

        //    var pUrl = "/ActionsCheckout/AuthorizeBidding";
        //    var messageText = "Saved";

        //    var biddingDetails = {
        //        CarId: carId, BiddingAmount: bidAmount
        //    };

        //    var jStr = "biddingDetails=" + JSON.stringify(biddingDetails);

        //    $.ajax({
        //        type: "POST",
        //        data: jStr,
        //        url: pUrl,
        //        dataType: "json",
        //        success: function (data) {
        //            if (data != null) {
        //                if (data.result == true) {
        //                    window.location.href = "/Auctions/BidCheckout?carId=" + carId + "";
        //                    //showMessage("You have Bidded Successfully", "alert alert-success");
        //                }
        //                else {
        //                    showMessage("Error occured while save the bidding", "alert alert-danger");
        //                }
        //            }
        //            else {
        //                showMessage("Error occured while save the bidding", "alert alert-danger");
        //            }
        //        },
        //        error: function (error) {
        //            showMessage("Error occured while save the bidding", "alert alert-danger");
        //        }

        //    });
        //}
        //else {
        //    showMessage(error, "alert alert-danger");
        //}
    }


    function filterCars() {
        var make = $("#cmbMake").val();
        var model = $("#cmbModel").val();
        //var startPrice = $("#startAmount").val().replace("$","");
        //var endPrice = $("#endAmount").val().replace("$", "");
        var modelYearFrom = $("#cmbModelYearFrom").val();
        var modelYearTo = $("#cmbModelYearTo").val();

        if (modelYearTo == "0")
            modelYearTo = new Date().getFullYear();

        //if (startPrice == endPrice) {
        //    alert("End price should be greater than start price. Please change the Price range and retry");
        //    return false;
        //}

        if (modelYearFrom == modelYearTo) {
            alert("Model To Year should be greater than start year. Please change the year range and retry");
            return false;
        }

        $('#divSearchResults').load("/Car/SearchResults?make=" + encodeURIComponent(make) + "&model=" + model + "&startPrice=" + 0 + "&endPrice=" + 100000000 + "&yearFrom=" + modelYearFrom + "&yearTo=" + modelYearTo + "");
    }
    $(document).ready(function () {

        $("#btnReset").bind("click", function () {

            $('select#cmbMake').val(0).select2();
            $('select#cmbModel').val(0).select2();
            $('select#type').val(1).select2();
            $('select#cmbModelYearFrom').val(0).select2();
            $('select#cmbModelYearTo').val(0).select2();
            filterCars();
        });

    });

</script>



<script>
    /**
     * paymentForm
     *
     * A plugin that validates a group of payment fields.  See jquery.payment.js
     * Adapted from https://gist.github.com/Air-Craft/1300890
     */

    // if (!window.L) { window.L = function () { console.log(arguments);} } // optional EZ quick logging for debugging

    (function ($) {

        /**
         * The plugin namespace, ie for $('.selector').paymentForm(options)
         *
         * Also the id for storing the object state via $('.selector').data()
         */
        var PLUGIN_NS = 'paymentForm';

        var Plugin = function (target, options) {
            this.$T = $(target);
            this._init(target, options);

            /** #### OPTIONS #### */
            this.options = $.extend(
                true,               // deep extend
                {
                    DEBUG: false
                },
                options
            );

            this._cardIcons = {
                "visa": "visa icon",
                "mastercard": "mastercard icon",
                "amex": "american express icon",
                "dinersclub": "diners club icon",
                "discover": "discover icon",
                "jcb": "japan credit bureau icon",
                "default": "credit card alternative icon"
            };

            return this;
        }

        /** #### INITIALISER #### */
        Plugin.prototype._init = function (target, options) {
            var base = this;

            base.number = this.$T.find("[data-payment='cc-number']");
            base.exp = this.$T.find("[data-payment='cc-exp']");
            base.cvc = this.$T.find("[data-payment='cc-cvc']");
            base.brand = this.$T.find("[data-payment='cc-brand']");
            base.onlyNum = this.$T.find("[data-numeric]");

            // Set up all payment fields inside the payment form
            base.number.payment('formatCardNumber').data('payment-error-message', 'Please enter a valid credit card number.');
            base.exp.payment('formatCardExpiry').data('payment-error-message', 'Please enter a valid expiration date.');
            base.cvc.payment('formatCardCVC').data('payment-error-message', 'Please enter a valid CVC.');
            base.onlyNum.payment('restrictNumeric');

            // Update card type on input
            base.number.on('input', function () {
                base.cardType = $.payment.cardType(base.number.val());
                var fg = base.number.closest('.ui.icon.input');
                if (base.cardType) {
                    base.brand.text(base.cardType);
                    // Also set an icon
                    var icon = base._cardIcons[base.cardType] ? base._cardIcons[base.cardType] : base._cardIcons["default"];
                    fg.children('i').attr("class", icon);
                    //("<i class='" + icon + "'></i>");
                } else {
                    $("[data-payment='cc-brand']").text("");
                }
            });

            // Validate card number on change
            base.number.on('change', function () {
                base._setValidationState($(this), !$.payment.validateCardNumber($(this).val()));
            });

            // Validate card expiry on change
            base.exp.on('change', function () {
                base._setValidationState($(this), !$.payment.validateCardExpiry($(this).payment('cardExpiryVal')));
            });

            // Validate card cvc on change
            base.cvc.on('change', function () {
                base._setValidationState($(this), !$.payment.validateCardCVC($(this).val(), base.cardType));
            });
        };

        /** #### PUBLIC API (see notes) #### */
        Plugin.prototype.valid = function () {
            var base = this;

            var num_valid = $.payment.validateCardNumber(base.number.val());
            var exp_valid = $.payment.validateCardExpiry(base.exp.payment('cardExpiryVal'));
            var cvc_valid = $.payment.validateCardCVC(base.cvc.val(), base.cardType);

            base._setValidationState(base.number, !num_valid);
            base._setValidationState(base.exp, !exp_valid);
            base._setValidationState(base.cvc, !cvc_valid);

            return num_valid && exp_valid && cvc_valid;
        }

        /** #### PRIVATE METHODS #### */
        Plugin.prototype._setValidationState = function (el, erred) {
            var fg = el.closest('.field');
            fg.toggleClass('error', erred).toggleClass('', !erred);
            fg.find('.payment-error-message').remove();
            if (erred) {
                fg.append("<span class='ui pointing red basic label payment-error-message'>" + el.data('payment-error-message') + "</span>");
            }
            return this;
        }

        /**
         * EZ Logging/Warning (technically private but saving an '_' is worth it imo)
         */
        Plugin.prototype.DLOG = function () {
            if (!this.DEBUG) return;
            for (var i in arguments) {
                console.log(PLUGIN_NS + ': ', arguments[i]);
            }
        }
        Plugin.prototype.DWARN = function () {
            this.DEBUG && console.warn(arguments);
        }


        /*###################################################################################
         * JQUERY HOOK
         ###################################################################################*/

        /**
         * Generic jQuery plugin instantiation method call logic
         *
         * Method options are stored via jQuery's data() method in the relevant element(s)
         * Notice, myActionMethod mustn't start with an underscore (_) as this is used to
         * indicate private methods on the PLUGIN class.
         */
        $.fn[PLUGIN_NS] = function (methodOrOptions) {
            if (!$(this).length) {
                return $(this);
            }
            var instance = $(this).data(PLUGIN_NS);

            // CASE: action method (public method on PLUGIN class)
            if (instance
                && methodOrOptions.indexOf('_') != 0
                && instance[methodOrOptions]
                && typeof (instance[methodOrOptions]) == 'function') {

                return instance[methodOrOptions](Array.prototype.slice.call(arguments, 1));


                // CASE: argument is options object or empty = initialise
            } else if (typeof methodOrOptions === 'object' || !methodOrOptions) {

                instance = new Plugin($(this), methodOrOptions);    // ok to overwrite if this is a re-init
                $(this).data(PLUGIN_NS, instance);
                return $(this);

                // CASE: method called before init
            } else if (!instance) {
                $.error('Plugin must be initialised before using method: ' + methodOrOptions);

                // CASE: invalid method
            } else if (methodOrOptions.indexOf('_') == 0) {
                $.error('Method ' + methodOrOptions + ' is private!');
            } else {
                $.error('Method ' + methodOrOptions + ' does not exist.');
            }
        };
    })(jQuery);

    /* Initialize validation */
    var payment_form = $('#payment-form').paymentForm();

    $('#payment-form').on('submit', function () {
        event.preventDefault();
        var valid = $(this).paymentForm('valid');
        if (valid) {
            console.log('CC info is good!');
            stripe();
        } else {
            console.log('Badman Cardfaker');
        }
    });
</script>


<script>
    var telInput = $("#phone"),
        errorMsg = $("#error-msg"),
        validMsg = $("#valid-msg");

    // initialise plugin
    telInput.intlTelInput({

        allowExtensions: true,
        formatOnDisplay: true,
        autoFormat: true,
        autoHideDialCode: true,
        autoPlaceholder: true,
        defaultCountry: "auto",
        ipinfoToken: "yolo",

        nationalMode: false,
        numberType: "MOBILE",
        //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        preferredCountries: ['sa', 'ae', 'qa', 'om', 'bh', 'kw', 'ma'],
        preventInvalidNumbers: true,
        separateDialCode: true,
        initialCountry: "auto",
        geoIpLookup: function (callback) {
            $.get("http://ipinfo.io", function () { }, "jsonp").always(function (resp) {
                var countryCode = (resp && resp.country) ? resp.country : "";
                callback(countryCode);
            });
        },
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/utils.js"
    });

    var reset = function () {
        telInput.removeClass("error");
        errorMsg.addClass("hide");
        validMsg.addClass("hide");
    };

    // on blur: validate
    telInput.blur(function () {
        reset();
        if ($.trim(telInput.val())) {
            if (telInput.intlTelInput("isValidNumber")) {
                validMsg.removeClass("hide");
            } else {
                telInput.addClass("error");
                errorMsg.removeClass("hide");
            }
        }
    });

    // on keyup / change flag: reset
    telInput.on("keyup change", reset);


    $(".amountfmt").on('keyup', function () {
        var n = parseInt($(this).val().replace(/\D/g, ''), 10);

        if (!isNaN($(this).val(n.toLocaleString()))) {
            $(this).val(n.toLocaleString());
        }
        else {
            if ($(this).val() == "NaN") {
                $(this).val('');
            }
        }

    });


    //$('input.amountfmt').on('keyup', function () {
    //    //check if val is not ""
    //    if ($(this).val().trim() != "" && !isNaN($(this).val())) {
    //        const value = this.value.replace(/,/g, '');
    //        this.value = parseFloat(value).toLocaleString('en-US', {
    //            style: 'decimal',
    //            maximumFractionDigits: 2,
    //            minimumFractionDigits: 2
    //        });
    //    } else {
    //        $(this).val("")
    //    }
    //});


</script>