@model IEnumerable<DataAccessLayer.Models.Purchase>

@{

         ViewData["Title"] = "Purchase History";
    if (!string.IsNullOrWhiteSpace(ViewBag.Layout))
    {
        Layout = "~/Views/Shared/" + ViewBag.Layout;
    }
    else
    {
        Layout = "_Layout_Page";
    }
}

<div class="top3-wrapper novi-background bg-cover">
    <div class="container">
        <div class="top2 clearfix">

            <div class="row">

                <div class="col-md-6">
                    <h4> <b> Purchase History </b> </h4>
                </div>

                <div class="col-md-6 float-right">

                </div>

            </div>

        </div>

    </div>
</div>

<div class="breadcrumbs1_wrapper novi-background">
    <div class="container">
        <div class="breadcrumbs1"><a asp-controller="User" asp-action="Profile">Profile</a><span></span>Purchase History</div>
    </div>
</div>

<div class="container">
    <div class="row" id="divShowErrorSuccess">
        <div class="col-md-12" id="divDetailText">

        </div>
    </div>
</div>


<div class="content section-md-bottom novi-background bg-cover">
    <div class="container">
        <div class="row row-fix">

            <div class="col-sm-12 col-md-12 column-content">

                <div class="sectionBlock">
                    <h5 class="stitle">Purchase History </h5>
                    <div class="sectionContent">
                        <div class="subgroup">
                            <div class="col-xs-12 resurcesBlock">

                                @if (Model != null && Model.Count() > 0)
                                {
                                    <table id="tblPurchase" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Owner
                                                </th>
                                                <th>
                                                    Created
                                                </th>
                                                <th>
                                                    Price
                                                </th>
                                                <th>
                                                    Make
                                                </th>
                                                <th>
                                                    Model
                                                </th>
                                                <th>
                                                    SalePrice
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                                <td>
                                                    <input type="hidden" value="@item.Id" name="hdnPurchaseId" />
                                                    @item.Owner
                                                </td>
                                                <td>
                                                    @item.Created
                                                </td>
                                                <td>
                                                    @item.Price
                                                </td>
                                                <td>
                                                    @item.Car.Make
                                                </td>
                                                <td>
                                                    @item.Car.Model
                                                </td>
                                                <td>
                                                    @item.Car.SalePrice
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div>No Records Found</div>
                                }
                                <input type="hidden" id="hdnSelectedDealerId" />

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        buildGrid();
    });

    function buildGrid() {
        $('#tblPurchase')
            .on('init.dt', function () {
                $('#tblPurchase').removeClass('dataTable');
            }).dataTable();
    }

</script>